* {
  margin: 0px;
  padding: 0px;
} 

body {
  background: url(assets/images/original-wallpaper-.jpg);	
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

h1 {
  font-size: 20px;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}

a {
  color: inherit;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
}

/* Topbar Logo & Menu section */

.topbar {
  padding: 5px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 0px;
  height: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: width 1.7s;
  background-color: rgba(75, 68, 83, .9);
}

.logo {
  padding-left: 25px;
  opacity: 0;
  animation: show 3s 1; 
  animation-fill-mode: forwards; 
  animation-delay: 2.5s;  
}

.settings-button {
  display: flex;
  cursor: pointer;
  opacity: 0;
  line-height: 20px;
  animation: show 3s 1; 
  animation-fill-mode: forwards; 
  animation-delay: 3.0s;  
}

.settings-button i {
  padding-left: 15px;
  padding-right: 25px;
}

.settings-expand {
  border-radius: 5px;
  overflow: hidden;
  height: 0px;
  margin-top: 10px;
  transition: 1s;
  line-height: 20px;
  background-color: rgba(75, 68, 83, .9);
  display: flex;
  justify-content: space-around;
}

.change {
  display: flex;	
}

.setting-description {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.active {
  transition: color 1s;
  transition: border 1s;
}

.active:hover {
  color: #00FFFF;
}

.active:active {
  margin-top: 2px;
  margin-left: 2px;
  padding-right: 8px;
}

/* weather */

.weather-content {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}

.weather-forecast-side {
  width: 50%;
  height: 0px;
  border-radius: 4px;
  transition: 1.7s;
  background-color: rgba(75, 68, 83, .7);
}

.weather-details {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  border: 1px solid cyan;
  align-items: center;
}

.weather-info {
  opacity: 0;
  animation: show 3s 1; 
  animation-fill-mode: forwards; 
  animation-delay: 9.5s;
}

#icon {
  opacity: 0;
  animation: show 3s 1; 
  animation-fill-mode: forwards; 
  animation-delay: 9.5s;
}

#temperature, #summary {
 opacity: 0;
 animation: show 3s 1; 
 animation-fill-mode: forwards; 
 animation-delay: 9s;
}

.weather-forecast-side:hover {
  background-color: rgba(75, 68, 83, .9);
}

#temperature {
  font-size: 50px;
}

#icon img{
  width: 128px;
}

.geolocation-side {
  width: 50%;
  height: 0px;
  border-radius: 4px;
  transition: 1.7s;
  background-color: rgba(75, 68, 83, .7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.geolocation-side:hover {
  background-color: rgba(75, 68, 83, .9);  
}

.title {
  text-align: center;
  padding-top: 20px;
  opacity: 0;
  animation: show 3s 1; 
  animation-fill-mode: forwards; 
  animation-delay: 8.5s;
}

.coords {
  padding-top: 20px;
  display: flex;
  opacity: 0;
  animation: show 3s 1; 
  animation-fill-mode: forwards; 
  animation-delay: 9s;
}

#latitude {
  padding-right: 10px;
}

#map {
  margin-top: 20px;
  width: 90%;
  height: 70%;
  opacity: 0;
  animation: show 3s 1; 
  animation-fill-mode: forwards; 
  animation-delay: 9.5s;
  transition: opacity 1s;
}

.display-flex {
  display: flex;
}

@keyframes show {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

